@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');


* {
   
}


body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: -moz-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: -webkit-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

/* base css for all pages */

h1 {
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}
h2 {
    text-transform: capitalize;
    text-align: center;
}
h3 {
    font-size: 30px;
    text-transform: capitalize;
}

a {
    color: #000;
}

ul {
    list-style-type: none;
}

.bg-light {
    --bs-bg-opacity: unset;
}

.container-sm {
    height: fit-content;
    width: 70%;
}

.card {
    background-color: unset;
    align-items: center;
}

/* forms */
.form {
    width: 700px;
    margin: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 20px auto;
}

label {
    font-size: 20px;
}

/* Hero */

.hero {
    background: url("/static/images/hero/hero.jpg") no-repeat center center;
    height: 600px;

}

/* Posts */
.blog-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    border: 3px solid;
    margin: 50px;
}

.card-body {
    width: 750px;
    text-align: left;
}

.blog-author-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.card-title {
    font-size: 70px;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
}

.container-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* post images */
.post-image{
    width: 756px;
    max-height: 800px;
}
.card-img-top {
    width: 200px;
    max-height: 300px;
}

/* The posts comments made by users area */
.user-comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.comment-content-name {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* form sections */

form {
    width: 70%;
}

.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

input {
    background-color: unset;
}

.form-control {
    background-color: transparent;
}

textarea {
    border: 1px solid #000
}

#id_article_description {
    height: 70px;
}

.btn {
    border-radius: 0px;
    margin-top: 15px;
}
/* comment form */

.comment-container {
    margin: 50px auto;
    width: 750px;
}

.comment-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-comment {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    height: 150px;
}

.offset-lg-3 {
    margin-left: 0;
}

.mt-5 {
    margin-top: 100px !important;
}

/* footer */

.footer-container {
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

.footer-links li {
    margin: 30px 50px;
}

/* profile page */

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}