@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: -moz-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: -webkit-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

/* base css for all pages */

h1 {
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}

h3 {
    font-size: 40px;
}

.bg-light {
    --bs-bg-opacity: unset;
}

.container-sm {
    height: fit-content;
    width: 70%;
}

.card {
    background-color: unset;
    align-items: center;
}

/* Hero */

.hero {
    background: url("/static/images/hero/hero.jpg") no-repeat center center;
    height: 600px;

}

/* Posts */

.post-container {
    border: 3px solid;
    margin: 50px;
}

.card-body {
    width: 750px;
}

.card-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}

.container-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* post images */
.card-img-top {
    width: 100%;
    max-height: 600px;
}

/* The posts comments made by users area */
.user-comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* comment form section */

.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

input {
    background-color: unset;
}

.form-control {
    background-color: transparent;
}

textarea {
    border: 1px solid #000
}

.btn {
    border-radius: 0px;
    margin-top: 15px;
}

.comment-container {
    margin: 50px auto;
    width: 750px;
}

.user-comment {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    height: 200px;
}

.offset-lg-3 {
    margin-left: 0;
}

.mt-5{
    margin-top: 100px!important;
}