{% extends 'base.html' %}
{% block content %}
{% if user.is_superuser %}
<div class="container-fluid">
  <h1>Admin Page</h1>

  
   
      <h1>{{ count }}</h1>
    
    <h2>{{ comment }}</h2>
  



  <div class="admin-container">
    <div class="">
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Name</th>
          <th scope="col">Post title</th>
          <th scope="col" class="post-content">Post Content</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        {% for post in object_list %}
        <tbody>
          <tr>
            <td scope="col">{{ post.author }}</td>
            <td scope="col">{{ post.title }}</td>
            <td scope="col">
              <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ post.title }}
              </button>
              <ul class="dropdown-menu">
                <li><p class="" href="#">{{ post.content }}</p></li>
              </ul>
            </div>
          </td>
            <td scope="col">{{ post.created_on }}</td>
            <td><a class="btn btn-outline-dark" href="{% url 'magazine:admin_post_delete' post.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
  
</div>
<div class="admin-container">
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Post title</th>
          <th scope="col">comment content </th>
          <th scope="col">comment created</th>
          <th scope="col">comment approved</th>
        </tr>
      </thead>
      {% for comment in comments %}

      <tbody>
        <tr>

          <td scope="col">{{ comment.name }}</td>
          <td scope="col">{{ comment.email }}</td>
          <td scope="col">{{ comment.post }}</td>
          <td scope="col">{{ comment.content }}</td>
          <td scope="col">{{ comment.created }}</td>
          <td scope="col">{{ comment.approved }}</td>
          <td><a class="btn btn-outline-dark" href="{% url 'magazine:comment_delete' comment.id %}">Delete</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% else %}
<div class="staff-container">
  <h2>This is a staff page</h1>
</div>
{% endif %}
{% endblock content %}