{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if user.profile.image %}
    <img src="{{ profile.image.url }}" class="card-img-top" alt="{{ user.username }}">
    {% else %}
    <img src="{% static 'images/avatar.png' %}" class="card-img-top" alt="{{ user.username }}">
    {% endif %}
    <div class="card-body">
      <h3 class="card-text">{{ user.username }}</h3>
      <p class="card-text">{{ user.profile.about_me }}</p>
    </div>
  </div>
{% endblock content %}